<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <title>Travel Planner</title>
  </head>

  <body>
    <header>
      <h1>Travel Planner</h1>
    </header>

    <main>
      <section>
        <form class="trip-form" onsubmit="return Client.handleSubmit(event)">
          <div class="trip-form-inputs">
            <input
              id="city" 
              class="trip-form-inputs__city"
              type="text"
              name="city"
              value=""
              placeholder="Enter destination here"
            />
            <input 
              id="start-date" 
              class="trip-form-inputs__date"
              type="date" 
              name="start-date" 
              value="" 
              min="2021-01-01"
            />
          </div>
          <input
            class="trip-form-submit"
            type="submit"
            name=""
            value="Add Trip"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section id="results">
        <h2>Your planned trips</h2>
        <div id="trip-container" class="trip-list"></div>
      </section>
    </main>

    <footer>
      <p>&copy; Christiane Pruckner</p>
    </footer>
    <!-- <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
    </script> -->
  </body>
</html>
