:root {
  --bg: #fffcf2;
  --primary: #eb5e28;
  --secondary: #403d39;
  --light: #fffcff;
  --font-col: #403d39;
  --footer-bg: #252422;
  --footer-font: #ccc5b9;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Noto Sans", sans-serif;
    background-color: var(--bg);
}

main {
    flex: 2;
}

section {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
}

h1, h2, h3 {
  font-family: "Noto Serif", serif;
}