@import "variables.scss";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: $bg;
    color: $font-col;
}

main {
    flex: 2;
}

section {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

h1, h2, h3 {
  font-family: "Permanent Marker", cursive;
}

/* img {
  max-width: 100%;
  height: auto;
} */