@import "variables.scss";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
  background-color: $secondary;

  h1 {
    width: 90%;
    max-width: 800px;
    margin: 2rem 0;
    font-size: 42px;
  }
}
