@import "variables.scss";

.warning {
  border: 2px solid $primary;
  padding: 1rem;
  font-size: 21px;
  font-weight: 500;
}

#results {
  display: none;
  &.show {
    display: block;
  }

  h2 {
    margin-bottom: 1.2rem;
    font-size: 30px;
    line-height: 1.2;
  }
}

.trip-list {
  display: flex;
  flex-direction: column;

  &-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 3px solid $border;
    border-radius: 3px;
    font-size: 18px;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    &-img {
      @media screen and (min-width: 768px) {
        flex: 2;
        overflow: hidden;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &-body {
      padding: 0 20px;
      
      @media screen and (min-width: 768px) {
        width: 60%;
        flex: 3;
      }
    }

    &-dest,
    &-start {
      font-size: 24px;
      line-height: 1.2;
    }

    &-until {
      margin: 20px 0;
    }

    &-weather {
      p {
        padding: 10px 0;
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
}